* {
	/*font-size: 25px;*/
	/*overflow: hidden;*/
}
header {
	display: flex;
	width: 100%;
}
header section {
	width: 80%;
	background: green;
	text-align: center;
}
#login, #adv {
	width:20%; 
	background: red;
}
#login input {
	height: 30px;
	width: 40%;
}
#login input:first-child {
	margin-left: 2%;
}
#login div, .button {
	width: 100%;
	background: yellow;
	overflow: hidden;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
}
main {
	display: flex;
}
nav 
/*właściwość backgroud jest właściwością zbiorczą dla innych wartości,
takich jak np. background-color, background-attachment, background-image itp.*/
	background: green;
	width: 15%;
}
#adv {
	text-align: center;
}
#adv img {
	width: 100%;
}
#mainsection {
	/* funkcja pozwalająca wyliczyć szerokość elementu poprzez podanie wartości w jednostkach CSS; w funkcji
	calc można łączyć ze sobą wszystkie znane CSS jednostki (względne i bezwzględne), wynik zaś zawsze otrzymamy w
	najbardziej dopasowanej jednostce (najczęściej względnej) */
	width: calc(100% - 20% - 15%);	
	padding: 10px;
}
footer {
	text-align: center;
}
.button {
	text-align: center;
	background: lightblue;
	overflow: hidden;
	/*poniżej przykład jednej ze "sztuczek" CSS; dwa pola height posiadają wartości zapisane w różnych jednostkach;
	najpierw zostanie przypisana wartość z pierwszej linii; jeżeli przeglądarka rozpoznaje także jednostkę z drugiej linii
	to zostanie przypisana wartość z drugiej linii; jeżeli przeglądarka nie zna jednostki vh pozostanie przy pierwszej 
	wartości. WAŻNA JEST WIĘC KOLEJNOŚĆ ZAPISU */
	height: 30px;
	height: 15vh;
	cursor: pointer;
}
.button p {
	font-size: 4.5vh;
	/*abu tekst był na środku przycisku (pionowo) wymagane było, by odsunąć go odpowiednio od góry o wskazaną wielkość marginesu; 
	większa wartość (wysokość tekstu - 6vh przy relanej 4.5vh) spowodowana jest przesunięciem marginesu dolnego, jaki paragraf
	nadal posiada (można go ustawić na 0). */
	margin-top: calc((15vh / 2) - (6vh / 2));
}
/* reakja na najechanie kursorem na przycisk */
.button:hover {
	opacity: 0.7;
}
/* rekacja na kliknięcie na dany element w HTML */
.button:active {
	background: gray;
	opacity: 1;
}
